.logo__list{
    display: flex;
    align-items: center;
    gap: 40px;
}

.logo__block{
    margin-top: 160px;
    margin-bottom: 80px;
}

@media screen and (max-width: 768px) {
    .logo__wahoo{
        display: none;
    }

    .logo__list{
        align-items: center;
    }
}

@media screen and (max-width: 500px) {
    .logo__list{
        display: block;
    }

    .logo__block{
        text-align: center;
    }

    .logo__wahoo{
        display: block;
    }
}